@page "/contact"

<SectionContent SectionName="top-bar">
    <div class="row">
        <div class="col">
            <div>Contacts</div>
        </div>
        <div class="col">
            @if (ActiveOnly)
            {
                <a @onclick="(() => IncludeInactive(true))">Include Inactive</a>
            }
            else
            {
                <a @onclick="(() => IncludeInactive(false))">Hide Inactive</a>
            }
            <a href="contactedit" class="btn btn-success btn-sm float-end">Create New Contact</a>
        </div>
    </div>
</SectionContent>

@if (contacts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="page-content">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    @if (!ActiveOnly)
                    {
                        <th>
                            Active
                        </th>
                    }
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var contact in contacts)
                {
                    <tr>
                        <td>
                            @contact.Name
                        </td>
                        @if (!ActiveOnly)
                        {
                            <td>
                                @(contact.Active ? "Active" : "Inactive")
                            </td>
                        }
                        <td>
                            <a href="@($"contactedit/{contact.Id}")" class="btn btn-outline-primary btn-sm">
                                Edit
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
