@page "/contacttype"

<SectionContent SectionName="top-bar">
    <div>Contact Types</div>
</SectionContent>

@if (contactypes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="page-content">
        <div class="row">
            <div class="col">
                <a href="contacttypeedit">Create New Contact Type</a>
            </div>
            <div class="col">
                @if (ActiveOnly)
                {
                    <a class="float-end" @onclick="(() => IncludeInactive(true))">Include Inactive</a>
                }
                else
                {
                    <a class="float-end" @onclick="(() => IncludeInactive(false))">Hide Inactive</a>
                }
            </div>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        Type
                    </th>
                    @if (!ActiveOnly)
                    {
                        <th>
                            Active
                        </th>
                    }
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var contacttype in contactypes)
                {
                    <tr>
                        <td>
                            @contacttype.Type
                        </td>
                        @if (!ActiveOnly)
                        {
                            <td>
                                @(contacttype.Active ? "Active" : "Inactive")
                            </td>
                        }
                        <td>
                            @if (contacttype.PortfolioId > -1)
                            {
                                <a href="@($"contacttypeedit/{contacttype.Id}")" class="btn btn-outline-primary btn-sm">
                                    Edit
                                </a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
