@page "/tenancy"

<SectionContent SectionName="top-bar">
    <div>Tenancies</div>
</SectionContent>

@if (tenancies == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col">
            <a href="tenancyedit">Create New Tenancy</a>
        </div>
        <div class="col">
            @if (ActiveOnly)
            {
                <a class="float-end" @onclick="(() => IncludeInactive(true))">Include Inactive</a>
            }
            else
            {
                <a class="float-end" @onclick="(() => IncludeInactive(false))">Hide Inactive</a>
            }
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Property
                </th>
                <th>
                    Type
                </th>
                @if (!ActiveOnly)
                {
                    <th>
                        Active
                    </th>
                }
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tenancy in tenancies)
            {
                <tr>
                    <td>
                        @tenancy.StreetAddress
                    </td>
                    <td>
                        @tenancy.Type
                    </td>
                    @if (!ActiveOnly)
                    {
                        <td>
                            @(tenancy.Active ? "Active" : "Inactive")
                        </td>
                    }
                    <td>
                        <a href="@($"tenancyedit/{tenancy.Id}")" class="btn btn-outline-primary btn-sm">
                            Edit
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
