@page "/unit"

<h3>Properties</h3>

@if (units == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col">
            <a href="unitedit">Create New Property</a>
        </div>
        <div class="col">
            @if (ActiveOnly)
            {
                <a class="float-end" @onclick="(() => IncludeInactive(true))">Include Inactive</a>
            }
            else
            {
                <a class="float-end" @onclick="(() => IncludeInactive(false))">Hide Inactive</a>
            }
        </div>
    </div>

    <div class="row">
        @foreach (var unit in units)
        {           
            <ErrorBoundary>
                <ChildContent>
                    <PropertyCard Property="unit"></PropertyCard>
                </ChildContent>
                <ErrorContent>
                    <p class="errorUI">Invalid property!</p>
                </ErrorContent>
            </ErrorBoundary>

        }
    </div>

}
