@page "/unittype"

<SectionContent SectionName="top-bar">
    <div class="row">
        <div class="col">
            <div>Unit Types</div>
        </div>
        <div class="col">
            @if (ActiveOnly)
            {
                <a @onclick="(() => IncludeInactive(true))">Include Inactive</a>
            }
            else
            {
                <a @onclick="(() => IncludeInactive(false))">Hide Inactive</a>
            }
            <a href="unittypeedit" class="btn btn-success btn-sm float-end">Add Unit Type</a>
        </div>
    </div>
</SectionContent>

@if (unittypes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="page-content">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Type
                    </th>
                    @if (!ActiveOnly)
                    {
                        <th>
                            Active
                        </th>
                    }
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var unittype in unittypes)
                {
                    <tr>
                        <td>
                            @unittype.Type
                        </td>
                        @if (!ActiveOnly)
                        {
                            <td>
                                @(unittype.Active ? "Active" : "Inactive")
                            </td>
                        }
                        <td>
                            <a href="@($"unittypeedit/{unittype.Id}")" class="btn btn-outline-primary btn-sm">
                                Edit
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
