@page "/uploadstatement"
@using PropertyPortfolioManager.Client.Helpers;

 <SectionContent SectionName="top-bar">
    <div class="row">
        <div class="col">
            <div>Upload bank statement</div>
        </div>
    </div>
</SectionContent>

<div class="page-content">
    <InputFile OnChange="HandleFileSelection" />
</div>

@if (file != null)
{
    <div class="page-content">
        <p><strong>File Name:</strong> @file.Name</p>
        <p><strong>File Size:</strong> @file.Size.ToFileSizeString()</p>
        @if (uploading)
        {
            <p>Uploading...</p>
        }
        else
        {
            <p>@((MarkupString)uploadResponse)</p>
        }
    </div>
}
