@page "/userprofile"

<SectionContent SectionName="top-bar">
    <div>User Profile</div>
</SectionContent>

<div class="page-content">

    <p>Id: @User.Id</p>
    <p>ObjectIdentifier: @User.ObjectIdentifier</p>
    <p>Name: @User.Name</p>
</div>
