@model PropertyPortfolioManager.Models.Dto.Profile.UserDto
@{
    ViewData["Title"] = "GetUser";
}

<h1>Get User</h1>

<p>Id: @Model.Id</p>
<p>ObjectIdentifier: @Model.ObjectIdentifier</p>
<p>Name: @Model.Name</p>