@{
    ViewData["Title"] = "Dashboard";
}

@*@section Scripts
{
    <script src="~/dist/index.entry.js" defer></script>
}*@

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>TODO - Add some dashboard items.</p>
</div>

