@inherits LayoutComponentBase
<div  class="d-flex flex-column min-vh-100">
    <header>
        <NavMenu />
    </header>
    <AuthorizeView>
        <Authorized>
            <div class="page-banner container-fluid px-4">
                <SectionOutlet SectionName="top-bar" />
            </div>
        </Authorized>
    </AuthorizeView>

    <div class="container-fluid px-4 pt-4">
        <main role="main" class="pb-3">
            @Body
        </main>
    </div>

    <footer class="mt-auto border-top footer text-muted bg-primary">
        <div class="container-fluid">
            &copy; 2023 - Property Portfolio Manager
        </div>
    </footer>
</div>
