<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        @if (ProfileState.CurrentPortfolio == null)
        {
        <a class="navbar-brand" href="/">Property Portfolio Manager</a>
        }
        else
        {
            <a class="navbar-brand" href="/">@ProfileState.CurrentPortfolio.Name</a>
        }
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Dashboard
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="portfolio">
				<span class="oi oi-list-rich" aria-hidden="true"></span> Portfolios
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="unit">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Properties
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="contact">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Contacts
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tenancy">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Tenancies
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tenancytype">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Tenancy types
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="mortgage">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Mortgages
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="userprofile">
                <span class="oi oi-list-rich" aria-hidden="true"></span> User
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="unittype">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Unit types
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="contacttype">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Contact Types
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="documents">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Documents
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="account">
                <span class="oi oi-british-pound" aria-hidden="true"></span> Accounts
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="transaction">
                <span class="bi bi-cash " aria-hidden="true"></span> Transactions
            </NavLink>
        </div>
    </nav>
</div>
