@model IEnumerable<PropertyPortfolioManager.Models.Model.General.ContactTypeModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Contact Types</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @if (item.PortfolioId > -1)
                {
                    @Html.ActionLink("Edit", "Edit", new { id=item.Id })                 
                }
            </td>
        </tr>
}
    </tbody>
</table>
