@model PropertyPortfolioManager.Models.Model.Property.UnitResponseModel

@{
    ViewData["Title"] = "Create";
}

@if (Model.Id == 0)
{
    <h1>Create property</h1>
}
else
{
    <h1>Edit @Model.Code - @Model.Address.StreetAddress</h1>
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateUpdate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Id" class="form-control" type="hidden" />
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.StreetAddress" class="control-label"></label>
                <input asp-for="Address.StreetAddress" class="form-control" />
                <span asp-validation-for="Address.StreetAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.TownCity" class="control-label"></label>
                <input asp-for="Address.TownCity" class="form-control" />
                <span asp-validation-for="Address.TownCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.CountyRegion" class="control-label"></label>
                <input asp-for="Address.CountyRegion" class="form-control" />
                <span asp-validation-for="Address.CountyRegion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.PostCode" class="control-label"></label>
                <input asp-for="Address.PostCode" class="form-control" />
                <span asp-validation-for="Address.PostCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitTypeId" class="control-label"></label>
                <input asp-for="UnitTypeId" class="form-control" />
                <span asp-validation-for="UnitTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PurchaseDate" class="control-label"></label>
                <input asp-for="PurchaseDate" class="form-control" />
                <span asp-validation-for="PurchaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SaleDate" class="control-label"></label>
                <input asp-for="SaleDate" class="form-control" />
                <span asp-validation-for="SaleDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PurchasePrice" class="control-label"></label>
                <input asp-for="PurchasePrice" class="form-control" />
                <span asp-validation-for="PurchasePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalePrice" class="control-label"></label>
                <input asp-for="SalePrice" class="form-control" />
                <span asp-validation-for="SalePrice" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Deleted" /> @Html.DisplayNameFor(model => model.Deleted)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
