@model PropertyPortfolioManager.WebUI.Models.UnitEditViewModel

@{
    ViewData["Title"] = "Create";
}

@if (Model.Unit.Id == 0)
{
    <h1>Create property</h1>
}
else
{
    <h1>Edit @Model.Unit.Code - @Model.Unit.Address.StreetAddress</h1>
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateUpdate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Unit.Id" class="form-control" type="hidden" />
                <label asp-for="Unit.Code" class="control-label"></label>
                <input asp-for="Unit.Code" class="form-control" />
                <span asp-validation-for="Unit.Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Unit.Address.StreetAddress" class="control-label"></label>
                <input asp-for="Unit.Address.StreetAddress" class="form-control" />
                <span asp-validation-for="Unit.Address.StreetAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Unit.Address.TownCity" class="control-label"></label>
                <input asp-for="Unit.Address.TownCity" class="form-control" />
                <span asp-validation-for="Unit.Address.TownCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Unit.Address.CountyRegion" class="control-label"></label>
                <input asp-for="Unit.Address.CountyRegion" class="form-control" />
                <span asp-validation-for="Unit.Address.CountyRegion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Unit.Address.PostCode" class="control-label"></label>
                <input asp-for="Unit.Address.PostCode" class="form-control" />
                <span asp-validation-for="Unit.Address.PostCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Unit.UnitTypeId" class="control-label"></label>
                <select asp-for="Unit.UnitTypeId" class="form-control" asp-items="@Model.UnitTypeList">
                    <option disabled selected>Please select one</option>
                </select>
                <span asp-validation-for="Unit.UnitTypeId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Unit.PurchaseDate" class="control-label"></label>
                <input asp-for="Unit.PurchaseDate" class="form-control" />
                <span asp-validation-for="Unit.PurchaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Unit.SaleDate" class="control-label"></label>
                <input asp-for="Unit.SaleDate" class="form-control" />
                <span asp-validation-for="Unit.SaleDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Unit.PurchasePrice" class="control-label"></label>
                <input asp-for="Unit.PurchasePrice" class="form-control" />
                <span asp-validation-for="Unit.PurchasePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Unit.SalePrice" class="control-label"></label>
                <input asp-for="Unit.SalePrice" class="form-control" />
                <span asp-validation-for="Unit.SalePrice" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Unit.Active" /> @Html.DisplayNameFor(model => model.Unit.Active)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
